<div class="offcanvas offcanvas-end w-25" tabindex="-1" overflow:auto id="statusInfo" aria-labelledby="statusInfoLabel">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="statusInfoLabel">{{ _("Appointment status") }}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <p>{{ _("Please, specify the appointment status based on the following guidelines:") }}</p>
    <div>
        <ol>
            <li>
                <button class="btn-status btn-status-scheduled">
                    Scheduled
                </button>
                <p>
                    {{ _("The participant has agreed to an appointment with
                    specific date and time. No appointment can be made without specific date and/or time.") }}
                </p>
            </li>
            <li>
                <button class="btn-status btn-status-confirmed">
                    Confirmed
                </button>
                <p>
                    {{ _("The appointment has been successfully confirmed with the participant via call or e-mail,
                    ideally the day before the appointment takes place.") }}
                </p>
            </li>
            <li>
                <button class="btn-status btn-status-successful">
                    Successful
                </button>
                <p>
                    {{ _("During the appointment, the participant has signed the consent form, and their ID should be
                    present in the experiment participant sheet. No data should be collected before the consent form
                    is signed. Every time the consent form has been signed, the appointment will be marked as Successful
                    (even if no data were collected afterwards), with the only exception that the participant withdraws
                    consent during the appointment.") }}
                </p>
            </li>
            <li>
                <button class="btn-status btn-status-good">
                    Successful - Good
                </button>
                <p>
                    {{ _("Not only the appointment has been successful, the resulting data is good enough for the
                    participant
                    to be included in the study's data analyses. This status may be changed back to 'Successful' if the
                    data is later considered unfit for data analysis. The motivation behind this status label is to keep
                    track of how many appointments generate valid data, and how close we are to finishing data
                    collection for the study.") }}
                </p>
            </li>
            <li>
                <button class="btn-status btn-status-reschedule">
                    Cancelled - Reschedule
                </button>
                <p>
                    {{ _("Upon participant's or experimenter's request, the appointment will not take place, and will
                    be/has been rescheduled instead.") }}
                </p>
            </li>
            <li>
                <button class="btn-status btn-status-drop">
                    Cancelled - Drop
                </button>
                <p>
                    {{ _("Upon participant or experimenter's request, the appointment will not take place,
                    and will not be rescheduled. If the participant withdraws consent during the appointment, the
                    appointment should be marked as Cancelled - Drop.") }}
                </p>
            </li>
            <li>
                <button class="btn-status btn-status-noshow">
                    No show
                </button>
                <p>
                    {{ _("The appointment has not taken place because the participant has not showed up,
                    without communicating it to the experimenter. If no rescheduling attempts are to be made (which
                    would possible result in a Cancelled - Reschedule status), the appointment should be classified as
                    No show.") }}
                </p>
            </li>
        </ol>
    </div>
</div>