{% extends "_base.html" %}
{% block content %}
<header>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">
        {{ _("Appointments") }} {{ apt_id }} &nbsp;&nbsp;<i class="fa fa-calendar"></i>
      </h1>
      <p class="lead">
        {{ _("There is a total of") }} {{ n_apt }} {{ _("appointments in the database.") }}
      </p>
    </div>
  </div>
  <hr class="my-4">
</header>

<body>
  <div class="container">
    <div class="div-center">
      {{ data["table"]|safe }}
    </div>
  </div>
  <script
    src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.2.2/b-3.2.1/fh-4.0.1/sp-2.3.3/sl-3.0.0/datatables.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/tables.js') }}"></script>
  <script>
    let table = new tbl_apt("#apttable")
  </script>
</body>
{% endblock content %}