{% extends "_base.html" %}
{% block content %}
<header>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">
        Language questionnaires&nbsp;&nbsp;<i class="fa fa-file"></i>
      </h1>
      <p class="lead">There is a total of {{ n_que }} language questionnaires in the database.</p>
    </div>
  </div>
  <hr class="my-4">
</header>

<body>
  <div class="div-center">
    <div class="card-table">
      <div width="10%">{{ data["table"]|safe }}</div>
    </div>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='js/tables.js') }}"></script>
  <script>
    let table = new dt("#quetable", searchCols = [3], hideCols = [12, 13], lookupCols = [1], queStatusCol = [3])

    table.on('click', 'td', function (e) {
      let tr = e.target.closest('tr');
      let row = table.row(tr);
      if (row.child.isShown()) {
        row.child.hide();
      }
      else {
        row.child(format_que(row.data())).show();
      }
    });
  </script>
</body>
{% endblock content %}