{% extends "_base.html" %}
{% block content %}
<header>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">
        {{ _("Language questionnaires") }}&nbsp;&nbsp;<i class="fa fa-file"></i>
      </h1>
      <p class="lead">
        {{ _("There is a total of") }} {{ n_que }} {{ _("language questionnaires in the database") }}.
      </p>
    </div>
  </div>
  <hr class="my-4">
</header>

<body>
  <div class="container">
    <div class="div-center">
      <div width="10%">
        {{ data["table"]|safe }}
      </div>
    </div>
  </div>
  <script
    src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.2.2/b-3.2.1/fh-4.0.1/sp-2.3.3/sl-3.0.0/datatables.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/tables.js') }}"></script>
  <script>
    let table = new tbl_que("#quetable")
  </script>
</body>
{% endblock content %}