{% extends "_base.html" %}
{% block content %}

<body>
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">
      {{ _("Studies") }}&nbsp;&nbsp;<i class="fa fa-flask"></i>
    </h1>
    <p class="lead">
      {{ _("Select a study to see details") }}.
    </p>
  </div>
  <hr class="my-4">
  <div class="container">
    <form class="form" method="post">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="study-addon">
            {{ _("Study") }}
          </span>
        </div>
        <select class="form-select" id="inputStudy" name="inputStudy" aria-describedby="study-addon"
          onchange="this.form.submit()">
          <option disabled {% if not selected_study %}selected{% endif %}>
            {{ _("Select a study") }}...
          </option>
          {% for k, v in data_dict["appointment_study"].items() %}
          <option {% if selected_study==k %}selected{% endif %} value="{{ k }}">
            {{ v }}
          </option>
          {% endfor %}
        </select>
      </div>
    </form>
  </div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h3 class="display-5">{{ data_dict["appointment_study"][selected_study] }}</h3>
    </div>
  </div>
  <br>
  {% if selected_study %}
  <hr class="my-4">
  <br>
  {% include "_dashboard.html" %}
  {% endif %}
  {% endblock %}
</body>